<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sensors status</title>
  

  <script src="lib/angular/angular.js"></script>
  <script src="js/App.js"></script>
  <script src="js/SensorController.js"></script>
  <script src="js/LocalSensorService.js"></script>
  <script src="js/UserController.js"></script>
  <script>
    // declare a sensorService that uses the local SensorService provider
    app.factory('sensorService', ['localSensorService', function(sensorService) { return sensorService }]);
  </script>

  
</head>
<div ng-controller="UserController">
  <span></span>
  <form ng-submit="submit()">
    <input ng-model="user.username" type="text" name="user" placeholder="Username" />
    <input ng-model="user.password" type="password" name="pass" placeholder="Password" />
    <input type="submit" value="Login" />
  </form>
  {{message}}  
</div>
<body ng-app="smartHome" ng-controller="SensorController">
    <ul ng-repeat="sensor in sensors">
      <li>{{sensor.name}}
            <ul ng-repeat="feature in sensor.features">
                <li>{{feature.type}}
                    <span ng-if="feature.luminosity"> {{feature.luminosity}} lux</span>
                    <span ng-if="feature.temperature"> {{feature.temperature}} °C</span>
                    <span ng-if="feature.security"> armed: <input type="checkbox" ng-model="feature.armed"><span ng-if="feature.alarm"> !</span></span>
                </li>
            </ul>
      </li>       
    </ul>
  <button ng-click="refresh()">
  Refresh
</button>

</body>
</html>
