<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sensors status</title>
  

  <script src="lib/angular/angular.js"></script>
  <script src="js/App.js"></script>
  <script src="js/SensorController.js"></script>
  <script src="js/LocalSensorService.js"></script>
  <script>
    // declare a sensorService that uses the local SensorService provider
    app.factory('sensorService', ['localSensorService', function(sensorService) { return sensorService }]);
  </script>

  
</head>
<body ng-app="smartHome" ng-controller="SensorController">
    <ul ng-repeat="sensor in sensors">
      <li>{{sensor.name}}
            <ul ng-repeat="feature in sensor.features">
                <li>{{feature.type}}</li>
            </ul>
      </li>       
    </ul>
  <button ng-click="refresh()">
  Refresh
</button>
</body>
</html>
