<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sensors status</title>
  

  <script src="lib/angular/angular.js"></script>
  <script src="js/App.js"></script>
  <script src="js/SensorController.js"></script>
  <script src="js/LocalSensorService.js"></script>
  <script>
    angular.module('smartHome').factory('sensorService', ['localSensorService', function(sensorService) { 
      return sensorService    }]);
  </script>

  
</head>
<body ng-app="smartHome" ng-controller="SensorController">
  <table id="sensorsTable">
    <tr><th>type</th><th>name</th><th>state</th><th>alarm</th></tr>
    <tr ng-repeat="sensor in sensors">
      <td>{{sensor.type}}</td>
      <td>{{sensor.name}}</td>
      <td>{{sensor.state}}</td>
      <td>{{sensor.alarm}}</td>
    </tr>
  </table>
  <button ng-click="refresh()">
  Refresh
</button>
</body>
</html>
